body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightpink;
}

h1 {
    font-weight: bold;
    color: red;
}

h2 {
    font-weight: 800;
    color: orange
}

p {
    background-color: pink;
}
